# {{ ansible_managed }}

# Because we are using logrotate for greater flexibility, disable the
# internal certbot logrotation.
max-log-backups = 0

{% if ubuntu_2004_letsencrypt_admin_email %}
email = {{ ubuntu_2004_letsencrypt_admin_email }}
{% endif %}

authenticator = {{ ubuntu_2004_letsencrypt_authenticator }}

{% if ubuntu_2004_letsencrypt_http_01_port %}
http-01-port = {{ ubuntu_2004_letsencrypt_http_01_port }}
{% endif %}

{% if ubuntu_2004_letsencrypt_http_01_address %}
http-01-address = {{ ubuntu_2004_letsencrypt_http_01_address }}
{% endif %}

{% if ubuntu_2004_letsencrypt_webroot_path %}
webroot-path = {{ ubuntu_2004_letsencrypt_webroot_path }}
{% endif %}

{% if ubuntu_2004_letsencrypt_deploy_hook %}
deploy-hook = {{ ubuntu_2004_letsencrypt_deploy_hook }}
{% endif %}

agree-tos = True

keep-until-expiring = True
expand = True
non-interactive = True
