# tasks file for ubuntu-2004-letsencrypt
---
- name: configuration | request host certificate
  command: "certbot certonly --cert-name {{ ansible_host }} -d {{ ansible_host }}"
  register: ubuntu_2004_letsencrypt_configure_request_host_certificate
  changed_when: "'no action taken' not in ubuntu_2004_letsencrypt_configure_request_host_certificate.stdout"

- name: configuration | request additional certificates
  command: "certbot certonly --cert-name {{ item.name | default(item.domains | first) }} -d {{ item.domains | join(' -d ') }}"
  register: _ubuntu_2004_letsencrypt_configure_request_additional_certificates
  changed_when: "'no action taken' not in _ubuntu_2004_letsencrypt_configure_request_additional_certificates.stdout"
  with_items: "{{ ubuntu_2004_letsencrypt_certificates_present }}"

- name: configuration | remove additional certificates
  command: "certbot delete --cert-name {{ item.name | default(item.domains | first) }}"
  args:
    removes: "/etc/letsencrypt/renewal/{{ item.name | default(item.domains | first) }}.conf"
  with_items: "{{ ubuntu_2004_letsencrypt_certificates_absent }}"
